---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: slurm-config
  annotations:
    volume.beta.kubernetes.io/storage-class: gluster-heketi
spec:
  accessModes:
  - ReadWriteOnce
  resources:
    requests:
      storage: 20Mi