{
  "clusters": [
    {
      "nodes": [
{% for host in groups['glusterfs-node'] %}
        {
          "node": {
            "hostnames": {
              "manage": [
                "{{ host }}"
              ],
              "storage": [
                "{{ hostvars[host]['ansible_host'] }}"
              ]
            },
            "zone": 1
          },
          "devices": {{ hostvars[host]['glusterfs_storage_drive'] | to_nice_json(indent=2) | indent(width=10) }}
        }{{ "," if not loop.last else "" }}
{% endfor %}
      ]
    }
  ]
}
